$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$black: #000000;
$white: #ffffff;

$bottom: 20px;

$images: "../images/";

* {-webkit-box-sizing: border-box; -webkit-user-select: none;}

body {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    opacity: 0;
    height: 704px !important;
    width: 1024px !important;
    margin: 0; padding: 0;
    background-color: $black;
    color: $white;
    -webkit-font-smoothing: antialiased;
}

.swiper-container {
    // -webkit-perspective: 2500px;
    // -moz-perspective: 2500px;
    // -ms-perspective: 2500px;
    // perspective: 2500px;
}

.swiper-wrapper {
    // -webkit-transform-style: preserve-3d;
    // -moz-transform-style: preserve-3d;
    // -ms-transform-style: preserve-3d;
    // transform-style: preserve-3d;
}

section {
    @include size(1024px, 704px);
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    // display: inline-block;
    position: relative;
    float: left;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1024px 704px;
    overflow: hidden;
    // -webkit-transform-style: preserve-3d;
    // -moz-transform-style: preserve-3d;
    // -ms-transform-style: preserve-3d;
    // transform-style: preserve-3d;
    h1 {
        @extend .visuallyhidden;
        color: red;
    }
}

.womenswear1 {
    background-image: url(#{$images}womenswear1.jpg);
    button {
        transform: translate(758px, 605px);
    }
}

.womenswear2 {
    background-image: url(#{$images}womenswear2.jpg);
    button {
        transform: translate(758px, 605px);
    }
}

.womensaccessories {
    background-image: url(#{$images}womensaccessories.jpg);
    button {
        transform: translate(114px, 162px);
    }
}

.miffy {
    background-image: url(#{$images}miffy.jpg);
    button {
        transform: translate(650px, 328px);
    }
}

.kitchenaid {
    background-image: url(#{$images}kitchenaid.jpg);
    button {
        transform: translate(66px, 185px);
    }
}

.train {
    background-image: url(#{$images}train.jpg);
    .prodstump {
        @include size(1024px, 704px);
        position: absolute;
        top: 0; left: 0;
        background: transparent url(../images/train-prodstumps.png) left top no-repeat;
        background-size: 1024px 704px;
    }
    .toytrain {
        @include size(383px, 206px);
        background: transparent url(#{$images}toytrain.png) left top no-repeat;
        background-size: 383px 206px;
        transform: translate(653px, 300px);
        &.toot {
            -webkit-animation: frontTrain 10s 1 ease-in-out;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-play-state: running;
        }
    }
    .backtrain {
        @include size(316px, 146px);
        background: transparent url(#{$images}backtrain.png) left top no-repeat;
        background-size: 316px 146px;
        transform: translate(-280px, 357px);  
        &.toot {
            -webkit-animation: backTrain 2.3s 4.5s 1 linear;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-play-state: running;
        }  
    }
    button {
        transform: translate(574px, -155px);
    }
}




/* SHOP BUTTON */
.btnn {
    // opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    background-color: $black;
    position: relative;
    border-radius: 10px;
    color: $white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    @include box-shadow(0 2px 9px 1px rgba(0,0,0,0.4));
    outline: none;
    &.shop {
        height: 43px;
        padding: 0 20px;
        line-height: 40px;
        z-index: 10000;
        div {
            color: $white;
            img {
                @include size(20px, 12px);
                margin-left: 20px;
            }
        }
    }

}

/*STORE IFRAME */
.storefront {
    @include size(960px, 640px);
    position: absolute;
    left: 50%; margin-left: -480px;
    top: 50%; margin-top: -320px;
    // overflow: scroll;
    -webkit-overflow-scrolling:touch;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    pointer-events: none;
    background-color: $white;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    z-index: 20000;
    transform: translate(-9999px, 0);
    & .closebtn {
        display: block;
        position: absolute;
        top: -10px; right: -10px;
        border-radius: 50%;
        @include size(21px, 21px);
        background-color: $black;
        color: $white;
        text-align: center;
        line-height: 13px;
        font-weight: bold;
        font-size: 1.5em;
        -webkit-transform: rotate(45deg);
        box-shadow: 0 0 5px rgba(255,255,255,1);
    }
    &.shown {
        transform: translate(0, 0);
    }
}




// non-semantic helper classes
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.loaded {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
}

.fadeOut {
    opacity: 0;
    -webkit-transition: opacity 1.5s ease 6s;
}

.fadeIn {
    opacity: 1 !important;
    -webkit-transition: opacity 0.5s ease;
    pointer-events: auto !important;
}

// animations
@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes frontTrain {
    from {
        transform: translate(653px, 300px);
    }
    25% {
        transform: translate(-600px, 300px);
        opacity: 1;
    }
    26% {
        transform: translate(-600px, 300px);
        opacity: 0;
    }
    27% {
        transform: translate(1250px, 300px);
    }
    80% {
        opacity: 0;
        transform: translate(1250px, 300px);
    }
    81% {
        opacity: 1;
        transform: translate(1250px, 300px);
    }
    to {
        transform: translate(653px, 300px);
    }
}

@-webkit-keyframes backTrain {
    from {
        transform: translate(-280px, 357px);
    }
    to {
        transform: translate(1250px, 357px);
    }
}

.paused{
    -webkit-animation-play-state:paused;
}